/*  your css code here. If applicable */
#flexcontainer{
      display:flex;
	flex-direction: row;
	background-color:lightgray;
	width:55%;
	border-radius:25px;
	border:black solid ;
	border-width:4px;
}

#item1, #item2, #item3{
	 margin:10px;
	padding:50px;
	border: none;
	border-radius:50%;
}

#item1{
	background-color:green;
}

#item2{
	background-color:yellow;
}
#item3{
	background-color:tomato;
}